################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DemoApi/.vs/DemoApi
/DemoApi/DemoApi/obj
/DemoApi/DemoApi/bin/Debug/net6.0
/DemoApi/TestProject/bin/Debug/net6.0
/DemoApi/TestProject/obj
/DemoApi/.vs/ProjectEvaluation
